<div class="eqLogic-widget eqLogic noResize tesla" style="text-align:center;width: 220px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard">
	<style  type="text/css">
	  .tesla .cmd a {
		width: 30px;
		height:30px;
		font-size: 1em;
	  }
	  .tesla .cmd.col2 a {
		width: 85px;
		height: 30px;
		font-size: 1em;
	  }
    /*
@font-face {
    font-family: liquid;
    src:   url("plugins/squeezeboxcontrol/core/template/fonts/enhanced_led_board-7.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}
*/
span.statusspsb {
    font-family: liquid;
    font-size:14px;
    color: #text_color#;
    letter-spacing: 1px;
   }
span.titlespsb {
    font-family: liquid; 
    font-size:14px;
    color:  #text_color#;
    letter-spacing: 1px;
   }
.arrondie {
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;
}
#greysb {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%); 
}
	</style>
	<a class="btn btn-circle btn-xs cmd power" data-cmd_id="#toggle_power_id#" style="position : absolute;left : 0px;top : 0px;font-size : 0.7em;" title="Power">#power#</a>
	<center><strong><a href="#eqLink#" style="font-size : 1em;"> #name# </a></strong></center>
	<a class="btn btn-circle btn-xs" style="position : absolute;right : 0px;top : 0px;font-size : 0.7em;" title="#syncedwith#">#sync#</a>
	<div style="margin-top : 5px;" class="status">
	<div>
		<div class="thumbnailAlbumArt">
            <a class="cursor" style="font-size : 1em;" title="Interface de votre tesla" id="yoursb#id#"> #thumbnail# </a>
		</div>
		<span class="statusspsb" title="#oriartistalbum#">
			#artistalbum#<br>
		</span>
		<span class="titlespsb" title="#orititre#">
			#titre#
		</span>
	</div>
	</div>
	<center>
	<a class="btn btn-circle btn-xs cmd mute" data-cmd_id="#cmd_mute_id#" style="position : relative;" title="Activer Muet"> <i class="fa fa-times"></i></a>
	<a class="btn btn-circle btn-xs cmd vol-" data-cmd_id="#cmd_vol-_id#" title="Volume-"><i class="fa fa-volume-down"></i> </a>
	<div class="volume" style="width: 40%;display:inline-block;" value="#volume#" ></div>
	<a class="btn btn-circle btn-xs cmd vol+" data-cmd_id="#cmd_vol+_id#" style="position : relative;" title="Volume+"> <i class="fa fa-volume-up"></i></a>
	<a class="btn btn-circle btn-xs cmd unmute" data-cmd_id="#cmd_unmute_id#" style="position : relative;" title="Désactiver Muet"> <i class="fa fa-check"></i></a>
	</center>
	<script>
		$(".tesla[data-eqLogic_id=#id#] .volume").slider({
			min: 0,
			max: 100,
			range : "min",
			value: ('#volume#' == '') ? 0 : parseInt('#volume#')
		});
        $(".tesla[data-eqLogic_id=#id#] .slider.slider-horizontal").css('z-index',1);
		$(".tesla[data-eqLogic_id=#id#] .volume").on('slidestop', function (event,ui) {
			jeedom.cmd.execute({id: '#volume_id#', value: {slider: ui.value}});
		});
		$(".tesla[data-eqLogic_id=#id#] .ui-slider-handle").css("background","transparent");
		$(".tesla[data-eqLogic_id=#id#] .ui-slider-handle").css("border-color","transparent");
		$(".tesla[data-eqLogic_id=#id#] .ui-widget-content").css("background","#ff0000");
		$(".tesla[data-eqLogic_id=#id#] .ui-slider-handle").append('<i class="fa fa-volume-up" style="color:white;font-size:1.2em;margin-top:-5px;cursor:pointer" title="Volume"></i>');
	</script>
	
	<div style="margin-top : 5px;" class="playback">
	<a class="btn btn-circle btn-xs cmd previous" data-cmd_id="#cmd_previous_id#" title="Précédent"><i class="fa fa-step-backward"></i></a>
	<a class="btn btn-circle btn-xs cmd stepbackward" data-cmd_id="#cmd_rewind_id#" title="Retour rapide"><i class="fa fa-backward"></i></a>
	<a class="btn btn-circle btn-xs cmd play" data-cmd_id="#cmd_play_id#"><i class="fa fa-play" title="Lecture"></i></a>
	<a class="btn btn-circle btn-xs cmd pause" data-cmd_id="#cmd_pause_id#"><i class="fa fa-pause" title="Pause"></i></a>
	<a class="btn btn-circle btn-xs cmd stop" data-cmd_id="#cmd_stop_id#"><i class="fa fa-stop" title="Stop"></i></a>
	<a class="btn btn-circle btn-xs cmd stepforward" data-cmd_id="#cmd_forward_id#"><i class="fa fa-forward" title="Avance rapide"></i></a>
	<a class="btn btn-circle btn-xs cmd next" data-cmd_id="#cmd_next_id#"><i class="fa fa-step-forward" title="Suivant"></i></a>
	</div>
	
    <script>
		$('#sync#id#').on('click', function() {
			$('#md_modal2').dialog({
				title: "Gestion de synchro"
			});
			
			$('#md_modal2').load('index.php?v=d&plugin=tesla&modal=sync.tesla&id='+ #id#).dialog('open');
		});
        $('#yoursb#id#').on('click', function() {
			$('#md_modal2').dialog({
				title: "Votre SqueezeBox #name#"
			});
			
			$('#md_modal2').load('index.php?v=d&plugin=tesla&modal=your.tesla&id='+ #id#).dialog('open');
		});
		if('#state_nb#' == 1){
			$('.tesla[data-eqLogic_id=#id#] .cmd.play').hide();
		}else{
			$('.tesla[data-eqLogic_id=#id#] .cmd.pause').hide();
		}
		$('.tesla[data-eqLogic_id=#id#] .cmd').on('click', function() {
			jeedom.cmd.execute({id: $(this).data('cmd_id')});
		});
    </script>
</div>
