<div class="eqLogic-widget eqLogic noResize tesla" style="text-align:center;width:350px;height:500px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard">
	<div name="vehicle">
		<img src="#img_base#" width="100%" style="position:absolute;left:0px;" />	
  		<img src="#img_open_lock#" width="100%" style="position:absolute;left:0px;" />
		#porte_avant_droite#	
  </div>
</div>
