<div class="eqLogic-widget eqLogic noResize tesla" style="text-align:center;width: 220px;border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard">
	<style  type="text/css">
	  .tesla .cmd a {
		width: 30px;
		height:30px;
		font-size: 1em;
	  }
	  .tesla .cmd.col2 a {
		width: 85px;
		height: 30px;
		font-size: 1em;
	  }
    /*
@font-face {
    font-family: liquid;
    src:   url("plugins/squeezeboxcontrol/core/template/fonts/enhanced_led_board-7.ttf") format("truetype");
    font-weight:normal;
    font-style:normal;
}
*/
span.statusspsb {
    font-family: liquid;
    font-size:14px;
    color: #text_color#;
    letter-spacing: 1px;
   }
span.titlespsb {
    font-family: liquid; 
    font-size:14px;
    color:  #text_color#;
    letter-spacing: 1px;
   }
.arrondie {
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;
}
#greysb {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
         -o-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
            filter: grayscale(100%); 
}
	</style>
	<div name="vehicle">
		<img src="#img_base#" width="50%" />	
	</div>
</div>
